<!DOCTYPE html>
<html>
<head>
    <title>Screen</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" id="control">
</nav>
<div class="Iframe">
</div>
<script type="text/html" id="controlTemplate">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Screen</a>
        </div>
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left Url-Form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control urls Url-Input" placeholder="URL">
                </div>
                <button class="btn btn-default Url-Button">Go</button>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="#" class="Banner-Choose">Choose</a></li>
            </ul>
            <form class="navbar-form navbar-left Banner-Form" role="banner">
                <div class="form-group">
                    <!--<input type="text" class="form-control urls Banner-Path" placeholder="Banner Path">-->
                    <input type="file" class="Banner-File" multiple/>
                    <button class="btn btn-default Banner-Upload">Upload</button>
                </div>
                <button class="btn btn-default Banner-Button">Insert</button>
            </form>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="" class="Banner-Save">Save</a></li>
            </ul>
        </div>
    </div>
</script>
<script type="text/html" id="IframeTemplate">
    <iframe src="views/frame.html" frameborder="0" width="100%" height="100" id="content"></iframe>
</script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="bower_components/backbone.marionette/backbone.marionette.js"></script>
<script src="bower_components/requirejs/require.js"></script>
<script src="bower_components/bootstrap/js/popover.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>